@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.surveyMain {
  margin: 20px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(253, 250, 252, 0.301);
}

a {
  color: inherit;
  text-decoration: none;
}


